.formContainer {
  max-width: 520px;
  padding: 0rem;
  margin: auto;
}

@media (min-width: 768px) {
  .formContainer {
    max-width: calc(100% - 248px);
  }
}

@media (min-width: 992px) {
  .formContainer {
    padding: 0;
    margin: 0rem auto;
    max-width: 586px;
  }
}

@media print {
  .formContainer {
    max-width: 100%;
  }
}
