.profileBadge {
  border-radius: 50% !important;
  padding: 12px;
  font-size: var(--amplify-font-sizes-medium);
  line-height: var(--amplify-line-heights-small);
  color: var(--amplify-colors-secondary-110);
  background-color: var(--amplify-colors-secondary-50);
  border: none;
  font-weight: var(--amplify-font-weights-medium);
  height: 48px;
  aspect-ratio: 1/1 !important;
}

.profileBadge:active {
  border-color: var(--amplify-colors-secondary-110);
}

.relative {
  position: relative;
}

.menu {
  position: absolute;
  top: 1rem;
  right: 0;
}
