.profileBadge {
  border-radius: 50% !important;
  padding: 12px;
  font-size: var(--amplify-font-sizes-medium);
  line-height: var(--amplify-line-heights-small);
  color: var(--amplify-colors-secondary-110);
  background-color: var(--amplify-colors-secondary-50);
  border: none;
  font-weight: var(--amplify-font-weights-medium);
  height: 48px;
  aspect-ratio: 1/1 !important;
}

.profileBadge:active {
  border-color: var(--amplify-colors-secondary-110);
}

.relative {
  position: relative;
}

.menu {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 10;

  border-radius: 0.5rem;
  padding: 0;
  margin: 0;
}

.menuItem {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--amplify-colors-neutral-80);
  margin: none;

  color: var(--amplify-colors-primary-100);
  background-color: var(--amplify-colors-neutral-10);

  text-align: left;
  white-space: nowrap;

  cursor: pointer;
}

.menuItem:hover {
  background-color: var(--amplify-colors-neutral-20);
}
