.hfh_formio_checkbox .form-check {
  padding: 0;
}

.hfh_formio_checkbox input.form-check-input[type='checkbox'] {
  height: 18px;
  width: 18px;
  margin: 4px;
  border: 2px solid var(--amplify-colors-neutral-80);
}

.hfh_formio_checkbox input.form-check-input[type='checkbox']:checked {
  height: 18px;
  width: 18px;
  background-color: var(--amplify-colors-neutral-100);
  border: 0;
}

.hfh_formio_checkbox input.form-check-input[type='checkbox'].is-invalid {
  border: 2px solid var(--amplify-colors-border-error);
}

.hfh_formio_checkbox input.form-check-input[type='checkbox'].is-invalid:focus {
  box-shadow: 0 0 0 0.25rem #b3261e14;
}

.hfh_formio_checkbox input.form-check-input[type='checkbox'].is-invalid:focus {
  box-shadow: 0 0 0 0.25rem #b3261e14;
}

.hfh_formio_checkbox input.form-check-input[type='checkbox']:focus {
  box-shadow: 0 0 0 0.25rem #1d1b2014;
}

.hfh_formio_checkbox span {
  padding-left: 7px;
}
