/* 
  hfh_formio_date_time must be added to the custom CSS class on the next components: 
    - date/time
*/

.hfh_formio_date_time input.form-control.input {
  padding: 1rem;
  border: 1px solid var(--amplify-colors-neutral-80);
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
  color: var(--amplify-colors-neutral-90);
  background-color: var(--amplify-colors-neutral-10);
}

.hfh_formio_date_time div.input-group-append > span.input-group-text {
  height: 100%;
  border: 1px solid var(--amplify-colors-neutral-80);
  border-radius: 0 !important;
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  font-size: 24px;
  padding: 1rem;
  color: var(--amplify-colors-neutral-90);
  cursor: pointer;
}

.hfh_formio_date_time input.form-control:focus-visible {
  border: 1px solid var(--amplify-colors-neutral-90);
  outline: 0;
  outline-offset: 0;
}

.hfh_formio_date_time label.col-form-label {
  padding: 0.25rem 1rem;
  color: var(--amplify-colors-neutral-100);
  cursor: pointer;
}
