/* 
  hfh_formio_file must be added to the custom CSS class on the next components: 
    - file
*/

.hfh_formio_file label.col-form-label {
  padding: 0.25rem 1rem;
  color: var(--amplify-colors-neutral-100);
  cursor: pointer;
}

.hfh_formio_file i.fa-remove {
  cursor: pointer;
}

.hfh_formio_file div.file {
  padding: 0.5rem !important;
}

.hfh_formio_file .list-group-item:only-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.hfh_formio_file .list-group-item {
  border-color: var(--amplify-colors-neutral-80);
  padding: 16px 12px;
  background-color: var(--amplify-colors-white);
  font-family: var(--amplify-fonts-default-variable);
  font-weight: var(--amplify-font-weights-normal);
  font-size: var(--amplify-font-sizes-small);
  line-height: var(--amplify-line-heights-small);
  letter-spacing: 0.5px;
}

.hfh_formio_file .list-group-item:first-child {
  background-color: var(--amplify-colors-neutral-20);
  font-weight: var(--amplify-font-weights-normal);
  border-bottom-color: var(--amplify-colors-neutral-80);
}

.hfh_formio_file div.fileSelector {
  border-color: var(--amplify-colors-neutral-40);
}

.hfh_formio_file i.fa-cloud-upload,
.hfh_formio_file i.fa-camera {
  vertical-align: middle;
}

.hfh_formio_file > div:first-of-type {
  display: flex;
  justify-content: left;
  gap: 16px;
  align-items: center;
}

.hfh_formio_file > div:first-of-type > div > span {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hfh_formio_file img {
  width: 120px;
}

.hfh_formio_file_video_container {
  position: relative;
  container: videoContainer / size;
  border-style: dashed;
  border-width: 0.25rem;
  border-color: green !important;
  box-sizing: content-box;
}

.hfh_formio_file_video_frame {
  position: absolute;
  width: 85%;
  aspect-ratio: 8.5/11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: rgba(255, 255, 255);
  border-style: solid;
  border-width: 0.25rem;
  opacity: 0.25;
  box-sizing: border-box;
  pointer-events: none;
}

@container videoContainer (orientation: landscape) {
  .hfh_formio_file_video_frame {
    height: 85%;
    width: auto;
  }
}
