.hfh_formio_show_on_print {
  display: none !important;
}

@media print {
  .formio-form > div {
    break-before: always;
    border-width: 2rem;
    border-style: double;
  }

  .hfh_formio_show_on_print {
    display: initial !important;
  }

  .hfh_formio_hide_on_print {
    display: none !important;
  }
}
