.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputTitle {
  background-color: var(--amplify-colors-neutral-20);
  border-bottom-width: 1px;
  border-style: solid;
  border-color: var(--amplify-colors-neutral-40);
  padding: 8px;
}

.customCheckbox {
  gap: 12px;
  margin-left: 12px;
}
