.page {
  padding: 32px;
}

.cta {
  display: flex;
  gap: 4px;
}

.title {
  font-weight: var(--amplify-font-weights-medium);
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tabContainer {
  flex: 1;
}

/* Amplify UI medium */
@media (min-width: 768px) {
  .detailsContainer {
    flex-direction: row;
  }
}
