.options > * + * {
  margin: 0.625rem 0;
}

.reset-password {
  padding: 0.625rem 0;
}

.signup-prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.625rem;
}

.signup-prompt-message {
  color: var(--amplify-colors-neutral-80);
  margin: 0 0.75rem;
}

.signup-prompt-line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--amplify-colors-neutral-40);
}

.signup > * + * {
  margin-top: 0.5rem;
}

.signup-button {
  padding: 12px;
}

.signup-container {
  margin-top: 1rem;
}
