.select {
  appearance: none;
  -webkit-appearance: none;
  padding: 7px 31px 7px 15px;
  background-color: var(--amplify-colors-neutral-10);
  border: 1px solid var(--amplify-colors-neutral-80);
  border-radius: 8px;
  color: var(--amplify-colors-neutral-90);
  cursor: pointer;
  font-size: var(--amplify-font-sizes-small);
  line-height: var(--amplify-line-heights-small);
  box-sizing: border-box;
}

.regular {
  height: 56px;
}

.customSelect {
  position: relative;
  width: fit-content;
  padding: 0;
}

.icon {
  font-size: 24px;
  position: absolute;
  top: calc(50% - 12px);
  right: 8px;
  pointer-events: none;
  color: inherit;
  color: var(--amplify-colors-neutral-90);
}
