.review {
  /* paint grey for only view for reviewing*/
  background-color: #f5f5f5;
  color: #0d1a26;
  padding: 1rem;
  border-radius: 1rem;
}

.review,
.review__item {
  display: flex;
  flex-direction: column;
}

.review > * + * {
  margin-top: 0.5rem;
}

.review__item > * + * {
  margin-top: 0.25rem;
}

.review__buttons {
  display: flex;
  justify-content: flex-end;
}

.review__buttons > * + * {
  margin-left: 1rem;
}

.review__button--confirm {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;

  background-color: #047d95;
  color: #ffffff;
}

.review__button--edit {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;

  background-color: #ffffff;
  color: #0d1a26;
  border: 1px solid #0d1a26;
}
