.sideBar {
  background-color: var(--amplify-colors-neutral-100);
  width: fit-content !important;
  color: var(--amplify-colors-neutral-10);
  height: 100vh;
  padding: 24px;
}

.sideBar:hover {
  width: 248px !important;
}
