.link {
  text-decoration: none;
}

.menuItem {
  color: white;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: var(--amplify-font-sizes-medium);
  line-height: var(--amplify-line-heights-small);
  overflow: hidden;
}

.menuItem:hover {
  color: var(--amplify-colors-secondary-60) !important;
}

.menuItem:active,
.active {
  background-color: #3e3d3d;
}

.hideText {
  visibility: hidden;
  width: 0;
}

.icon {
  font-size: var(--amplify-font-sizes-xl);
  color: inherit;
}
