.topBar {
  position: sticky;
  top: 0;
  height: 72px;
  padding: 12px 32px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--amplify-colors-neutral-80);
  background-color: var(--amplify-colors-neutral-10);
  z-index: 5;
}

.title {
  font-weight: var(--amplify-font-weights-normal);
  font-size: var(--amplify-font-sizes-small);
  line-height: var(--amplify-line-heights-small);
  text-align: center;
}
