@import '~formiojs/dist/formio.full.min.css';

/* This variables must be in sync with utils/constants.js > COLORS constan */
:root {
  --primary: #010101;
  --secondary: #55b949;
  --secondary-accent-dark: #439539;
  --canvas: #f5f5f5;
  --on_secondary: #010101;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
